.container 
	{width: 95%;
	margin: 0 auto;
	background-color: pink;}

.title

	{text-align: center;
	font-size: 35px;
	padding: 30px;}

.subtitle 
	{text-align: center;
	font-size: 30px;
	background-color: hotpink;
	padding: 15px;}

.flex-container 

	{display: flex;
	justify-content: space-between;
	padding: 20px;}

.side-links 

	{width: 20%;
	background-color: deeppink;
	padding: 10px;}

.my-interests
	{width: 30%;
	background-color: lightpink;
	padding: 10px;}

.skills-gained
	{width: 45%;
	background-color: lightpink;
	padding: 10px;}

.email-link 

	{text-align: center;
	padding: 20px;}

/*Media part that will change screen*/
@media only screen and (max-width: 575px) {
    
.flex-container

	{display: block;
	text-align: center;}

    .side-links, .my-interests, .skills-gained
{float: none;
        width: 90%;
	margin: auto;
	margin-bottom: 10px; /* Adding space between divs */}
}


